<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>09-数组遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>11-一维数组的地址.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>13-一维数组越界问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>14-找最大值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>16-数组元素作为函数参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>16-计算平均值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>19-冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>C8-一维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>一维数组初始化问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64EBA9361B15E48900CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9441B16E22C00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA94F1B16E68600CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA95A1B16EC1700CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9651B16F1B700CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9701B16F44E00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA97B1B17661100CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9861B17677C00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9911B176BFD00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
