<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-选择排序代码实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>05-折半查找代码实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>07-二维数组初始化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>08-遍历二维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>09-二维数组存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>13-从键盘接受数据构成 二维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>14-迷宫游戏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>15-优化迷宫游戏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>C9-二维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64EBA9A11B17914000CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9AF1B17915700CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9BA1B17978100CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9C51B179E8C00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9D01B17A0E900CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9DB1B17A60700CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9E61B1841EA00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9F11B18467200CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBA9FC1B18553900CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
