<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-字符串输入输出.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-字符串结束符问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-字符串长度计算方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-字符串处理函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>08-单词首字母大写并统计单词个数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>11-指针变量概念及定义方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>12-指针变量初始化和引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>14-用函数实现两个变量值交换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>15-指针常见的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>16-二级指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>C10-指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6463334D1B18E91C006624F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646333581B18E9C1006624F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646333631B18FCF0006624F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6463336E1B190349006624F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646333791B190BD5006624F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBAA0C1B18810100CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBAA1A1B18812400CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBAA251B1883DC00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBAA301B1884CF00CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBAA3B1B18894400CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EBAA461B188FE000CE7CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
